body {
  text-align: center;
  background-color: #111;
}

.header {
  height: 80px;
  width: 500px;
  margin: 10px auto;
  font-size: 3rem;
  color: #ff4500;
  line-height: 80px;
}

.input-container {
  width: 200px;
  margin: 0 auto;
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ff4500; 
}